# This is initial commit from default redis-server default setting
# cat /etc/redis/redis.conf | grep -v "^#" | sed "/^\s$/d"

bind {{ redis_bind }}
protected-mode {{ redis_protected_mode }}
port {{ redis_port }}
tcp-backlog {{ redis_tcp_backlog }}
timeout {{ redis_timeout }}

tcp-keepalive {{ redis_tcp_keepalive }}
daemonize {{ redis_daemonize }}
supervised {{ redis_supervised }}
pidfile {{ redis_pidfile }}
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}

databases {{ redis_databases }}
{% for save in redis_save -%}
save {{ save }}
{% endfor -%}

always-show-logo {{ redis_always_show_logo }}
stop-writes-on-bgsave-error {{ redis_stop_writes_on_bgsave_error }}
rdbcompression {{ redis_rdbcompression }}
rdbchecksum {{ redis_rdbchecksum }}

dbfilename {{ redis_dbfilename }}
dir {{ redis_dir }}
replica-serve-stale-data {{ redis_replica_serve_stale_data }}
replica-read-only {{ redis_replica_read_only }}
repl-diskless-sync {{ redis_repl_diskless_sync }}

repl-diskless-sync-delay {{ redis_repl_diskless_sync_delay }}
repl-disable-tcp-nodelay {{ redis_repl_disable_tcp_nodelay }}
replica-priority {{ redis_replica_priority }}
lazyfree-lazy-eviction {{ redis_lazyfree_lazy_eviction }}
lazyfree-lazy-expire {{ redis_lazyfree_lazy_expire }}

lazyfree-lazy-server-del {{ redis_lazyfree_lazy_server_del }}
replica-lazy-flush {{ redis_replica_lazy_flush }}
appendonly {{ redis_appendonly }}
appendfilename {{ redis_appendfilename }}
appendfsync {{ redis_appendfsync }}

no-appendfsync-on-rewrite {{ redis_no_appendfsync_on_rewrite }}
auto-aof-rewrite-percentage {{ redis_auto_aof_rewrite_percentage }}
auto-aof-rewrite-min-size {{ redis_auto_aof_rewrite_min_size }}
aof-load-truncated {{ redis_aof_load_truncated }}
aof-use-rdb-preamble {{ redis_aof_use_rdb_preamble }}

lua-time-limit {{ redis_lua_time_limit }}
slowlog-log-slower-than {{ redis_slowlog_log_slower_than }}
slowlog-max-len {{ redis_slowlog_max_len }}
latency-monitor-threshold {{ redis_latency_monitor_threshold }}
notify-keyspace-events "{{ redis_notify_keyspace_events }}"

hash-max-ziplist-entries {{ redis_hash_max_ziplist_entries }}
hash-max-ziplist-value {{ redis_hash_max_ziplist_value }}
list-max-ziplist-size {{ redis_list_max_ziplist_size }}
list-compress-depth {{ redis_list_compress_depth }}
set-max-intset-entries {{ redis_set_max_intset_entries }}

zset-max-ziplist-entries {{ redis_zset_max_ziplist_entries }}
zset-max-ziplist-value {{ redis_zset_max_ziplist_value }}
hll-sparse-max-bytes {{ redis_hll_sparse_max_bytes }}
stream-node-max-bytes {{ redis_stream_node_max_bytes }}
stream-node-max-entries {{ redis_stream_node_max_entries }}

activerehashing {{ redis_activerehashing }}
client-output-buffer-limit normal {{ redis_client_output_buffer_limit_normal }}
client-output-buffer-limit slave {{ redis_client_output_buffer_limit_slave }}
client-output-buffer-limit pubsub {{ redis_client_output_buffer_limit_pubsub }}
hz {{ redis_hz }}

dynamic-hz {{ redis_dynamic_hz }}
aof-rewrite-incremental-fsync {{ redis_aof_rewrite_incremental_fsync }}
rdb-save-incremental-fsync {{ redis_rdb_save_incremental_fsync }}
